<!DOCTYPE html>
<html lang="en" ng-app="mainApp" ng-controller="studentController">
<head>
  <meta charset="UTF-8">
  <title>Filters in AngularJS: orderBy</title>
</head>
<body>
  <h1>AngularJS Sample Application for: Filters &raquo; orderBy</h1>
  <div>
    <form>
      Enter subject: <input type="text" ng-model="subjectName" />
    </form>
    <p>Subject:</p>
    <ul>
      <li ng-repeat="subject in student.subjects | filter: subjectName |  orderBy: 'marks' : true">
        {{ subject.name + ', marks:' + subject.marks }}
      </li>
    </ul>
  </div>

  <script src="../../libs/angular.min.js"></script>
  <script src="../../4.Controllers/studentController.js"></script>
</body>
</html>