<!DOCTYPE html>
<html lang="en" ng-app="mainApp" ng-controller="studentController">
<head>
  <meta charset="UTF-8">
  <title>Filters in AngularJS: lowercase</title>
</head>
<body>
  <h1>AngularJS Sample Application for: Filters &raquo; lowercase</h1>
  <div>
    <form>
      <label for="firstName">Enter first name:</label>
      <input type="text" id="firstName" ng-model="student.firstName" />

      <label for="lastName">Enter last name:</label>
      <input type="text" id="lastName" ng-model="student.lastName" />
    </form>
    <p>Name in Upper Case: {{student.fullName() | lowercase}}</p>
  </div>

  <script src="../../libs/angular.min.js"></script>
  <script src="../../1.Controllers/studentController.js"></script>
</body>
</html>